@use "../global" as *;

#home-page {
  margin-top: 10rem;
}

.start-screen {
  display: flex;
  width: 100%;
  align-items: center;
}

.start-wrapper {
  padding: 2rem 0;
  width: 80%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "one two four" "one two four-low";

  div {
    background-color: antiquewhite;
  }

  div:nth-child(1) {
    grid-area: one;
  }
  div:nth-child(2) {
    grid-area: two;
  }
  div:nth-child(3) {
  }
  div:nth-child(4) {
  }
}
