@use "../global" as *;

.full-overlay,
.drop-menu,
.cart-menu {
  display: none;
}

.full-overlay {
    position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
}

.drop-menu {
    position: absolute;
}

.cart-menu {
position: fixed;
display: flex;
flex-direction: column;
  z-index: 6;
  background-color: #fff;
  right: 0;
  top: 0;
  padding: 3rem 2.5rem 1.5rem;
  height: 100vh;
  width: 25rem;

  .cart-menu-des {
    display: flex;
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  .cart-menu-container {
    display: flex;
    height: 100vh;
  }

  .cart-menu-products {
    overflow-y: scroll;
  }



}

.cart-open {
    display: flex;
}

.overlay-active {
    display: flex;
}
