@use "../global" as *;

#nav-bar {
    background-color: #ffff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    box-shadow: 0 4px 5px -5px rgba(0,0,0,.23);
    display: flex;
    justify-content: center;
}

.nav-logo {
    

    img {
        width: 6rem;
        height: auto;
    }
}

.nav-wrapper {
 height: 3rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;

    a {
        border-bottom: 1px solid #ffff;
    }

    a:hover {
        border-bottom: 1px solid black;
        transition: all 0s;
    }
}