@use "../../styles/global" as *;

#categories-page {
  width: 100%;
  margin-top: $topMargin;
  display: flex;
  justify-content: center;
}

.categories-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .categories-des {
    display: flex;
    flex-direction: column;

    .categories-nav {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 2rem;
      font-weight: 600;
      text-align: center;

      a {
        display: flex;
        align-items: center;
      }

      h2 {
        display: flex;
        margin: 0 auto;

        @include phoneWidth {
          transform: translateX(-70%);
        }
      }
    }

    .categories-btns {
      display: flex;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;

      button {
        border: none;
        font-size: 0.7rem;
        padding: 0.3rem 1rem;
        background-color: #fff;
        border: 1.5px solid #0000004c;
        transition: all 0.2s ease-in-out;

        &:hover {
          border-color: #000;
        }
      }
    }
  }
}
