@use "../global" as *;

#product-page {
  margin-top: $topMargin;
}

.product-info-screen {
  display: flex;
  justify-content: center;
}

.product-info-wrapper {
  display: flex;
}

.product-info-all {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.product-info-images {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;

  img {
    width: 85%;
  }

  .product-info-img-list {
    display: flex;
    width: 100%;
    padding: 1.5rem;
    gap: 1rem;
    justify-content: center;
    img {
        width: 28%;
        cursor: pointer;
        border: 1px solid #ffff;

        &:hover {
            border-color: #000;
        }
    }
  }
}

.product-info-des {
  background-color: #e5e5e5;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
  text-align: center;

  p {
    margin-bottom: 2rem;
  }

  .product-info-name {
    margin-bottom: 2rem;
  }

  .product-info-price {
    display: flex;
    gap: .5rem;
    width: 90%;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    align-items: center;
    text-align: center;
    font-size: .8rem;

  }

  .product-info-btns {
    display: flex;

    h1,
    button {
      padding: 0.8rem;
    }

    h1 {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }

  .product-info-cart {
    display: flex;
    gap: 1rem;
    
    button {
        padding: 1rem 3rem;
        font-size: 1.2rem;
    }

    button:nth-child(1) {
        background-color: transparent;
        border: 1.5px solid #000;
        background-color: #000;
        color: #fff;

        &:hover {
            background-color: transparent;
            color: #000;
        }
    }
    button:nth-child(2) {
        background-color: rgb(195, 67, 67);
        border: none;
        color: #fff;
        border: 1.5px solid rgb(195, 67, 67);


        &:hover {
            background-color: transparent;
            color: rgb(195, 67, 67);
        }
    }
  }
}


