@forward "./global";
@forward "../components/NavBar/_navBar.scss";
@forward "../components/Footer/_footer.scss";
@forward "../components/HomeComp/_homeComp.scss";
@forward "../components/Categories/_categories.scss";
@forward "../components/Product/_product.scss";
@forward "../components/CartMenu/_cartMenu.scss";



