@use "/Users/nikitawr/Dev/kumo-market/src/styles/global" as *;

#product-page {
  margin-top: $topMargin;
}

.product-info-screen {
  display: flex;
  justify-content: center;
  
}

.product-info-wrapper {
  display: flex;
  
  
}

.product-info-all {
  display: flex;
  gap: 4rem;
  align-items: center;
  
  @include bigWidth {
    flex-direction: column;
    
  }
}

.product-info-images {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;

  @include bigWidth {
    @include wrapperSettings;
  }

  img {
    width: 85%;
  }

  .product-info-img-list {
    display: flex;
    width: 100%;
    padding: 1.5rem;
    gap: 1rem;
    justify-content: center;
    img {
        width: 28%;
        cursor: pointer;
        border: 1px solid #ffff;

        &:hover {
            border-color: #000;
        }
    }
  }
}

.product-info-des {
  background-color: $mainGrey;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
  text-align: center;

  @include bigWidth {
    @include wrapperSettings;
  }

  p {
    margin-bottom: 2rem;
  }

  .product-info-name {
    margin-bottom: 2rem;
  }

  .product-info-price {
    display: flex;
    gap: .5rem;
    width: 90%;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    align-items: center;
    text-align: center;
    font-size: .8rem;

  }

  .product-info-btns {
    display: flex;

    h1,
    button {
      padding: 0.8rem;
    }

    h1 {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }

  .product-info-cart {
    display: flex;
    gap: 1rem;
    
    button {
        padding: 1rem 3rem;
        font-size: 1.2rem;
        cursor: pointer;
    }

    button:nth-child(1) {
        background-color: transparent;
        border: 1.5px solid #000;
        background-color: #000;
        color: #fff;

        &:hover {
            background-color: transparent;
            color: #000;
        }
    }
    button:nth-child(2) {
        background-color: $mainRed;
        border: none;
        color: #fff;
        border: 1.5px solid $mainRed;


        &:hover {
            background-color: transparent;
            color: $mainRed;
        }
    }
  }
}


// drop menu
.drop-menu {
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 6;
  position: fixed;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  transform: translateY(-100%);
  transition: 0.5s ease-in-out;
}

.menu-close-button {
    position: absolute;
    top: 2.2rem;
    right: 1.7rem;
    cursor: pointer;
}

.menu-open {
  transform: translateY(0%);
    transition: 0.5s ease-in-out;
}

