@use "../global/" as *;

#footer-page {
  background-color: #ffff;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;

  ul {
    list-style: none;
  }
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
  gap: 5rem;
  margin: 0 2rem;

}