@use "/Users/nikitawr/Dev/kumo-market/src/styles/global" as *;

#footer-page {
  background-color: #918282d4;
  display: flex;
  position: relative;
  z-index: 1;
  color: #ffff;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    a {
      color: #ffff;
    }
  }
}

.footer-wrapper,
.newsletter-screen,
.footer-nav-screen {
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  width: 100%;
}

.newsletter-screen {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #1e1e1e;
  width: 100%;
  padding: 5rem 0;

  div {
    display: flex;
    gap: 0.5rem;
  }

  input {
    width: 10rem;
  }

  button {
    background-color: $mainGrey;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  button,
  input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
.footer-nav-screen {
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  gap: 2rem;
  background-color: #000;
  display: flex;

  ul {
    display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @include phoneWidth {
        padding: 0 1rem;
  }
  }
}

.language-change {
  display: flex;
  gap: 1rem;

  div {
    cursor: pointer;
  }
}